<div class="d-flex flex-column justify-content-center sidebar-second-block py-2">
  <div class="py-3 pl-3"><a href="#" class="feature-text-link">Feature 1</a></div>
  <div class="py-3 pl-3"><a href="#" class="feature-text-link">Feature 2</a></div>
  <div class="py-3 pl-3"><a href="#" class="feature-text-link">Feature 3</a></div>
  <div class="py-3 pl-3"><a href="#" class="feature-text-link">Feature 4</a></div>
</div>
