<div class="d-flex flex-column justify-content-center sidebar-second-link-block py-2">
  <div class="py-3 pl-3"><a href="#" class="feature-text-link">External link 1</a></div>
  <div class="py-3 pl-3"><a href="#" class="feature-text-link">External link 2</a></div>
  <div class="py-3 pl-3"><a href="#" class="feature-text-link">External link 3</a></div>
  <div class="py-3 pl-3"><a href="#" class="feature-text-link">External link 4</a></div>
  <div class="py-3 pl-3"><a href="#" class="feature-text-link">External link 5</a></div>
  <div class="py-3 pl-3"><a href="#" class="feature-text-link">External link 6</a></div>
</div>
