<div class="d-flex flex-column justify-content-center sidebar-first-block py-2">
  <div class="py-3 pl-3"><a href="#" class="section-text-link">Section 1</a></div>
  <div class="py-3 pl-3"><a href="#" class="section-text-link">Section 2</a></div>
  <div class="py-3 pl-3"><a href="#" class="section-text-link">Section 3</a></div>
  <div class="py-3 pl-3"><a href="#" class="section-text-link">Section 5</a></div>
  <div class="py-3 pl-3"><a href="#" class="section-text-link">Section 6</a></div>
  <div class="py-3 pl-3"><a href="#" class="section-text-link">Section 7</a></div>
  <div class="py-3 pl-3"><a href="#" class="section-text-link">Section 8</a></div>
  <div class="py-3 pl-3"><a href="#" class="section-text-link">Section 9</a></div>
  <div class="py-3 pl-3"><a href="#" class="section-text-link">Section 10</a></div>
  <div class="py-3 pl-3"><a href="#" class="section-text-link">Section 11</a></div>
  <div class="py-3 pl-3"><a href="#" class="section-text-link">Section 12</a></div>
  <div class="py-3 pl-3"><a href="#" class="section-text-link">Section 13</a></div>
</div>
